@model List<Proveedor>
<h1>Lista de Proveedores</h1>
<div>
    <a asp-controller="Proveedor" asp-action="Create" class="btn btn-primary">Agregar proveedor nuevo</a>
    <a asp-controller="Proveedor" asp-action="ReporteProveedoresExcel" class="btn btn-success">Generar Excel</a>
    <br />
    <br />
    <div class="card">
        <form asp-action="SubirExcelProveedores" asp-controller="Proveedor" method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label for="archivo">Subir Excel</label>
                <input type="file" name="archivo" required />
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Subir y guardar</button>
        </form>
    </div>
    <br />
    <br />
    @if (Model != null)

    {
        <table class=" table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>NRC</td>
                    <td>Direccion</td>
                    <td>Telefono</td>
                    <td>Email</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var proveedor in Model)
                {
                    <tr>
                        <th>@proveedor.Nombre</th>
                        <th>@proveedor.NRC</th>
                        <th>@proveedor.Direccion</th>
                        <th>@proveedor.Telefono</th>
                        <th>@proveedor.Email</th>

                        <th>
                            <a class="btn btn-primary" asp-asp-controller="Proveedor" asp-action="Edit" asp-route-id="@proveedor.Id">Editar</a> |
                            <a class="btn btn-danger" asp-asp-controller="Proveedor" asp-action="Delete" asp-route-id="@proveedor.Id">Eliminar</a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

