
@model List<Compra>

<form method="get" class="form-inline">
    <div class="form-group">
        <label for="Estado">Estado:</label>
        @Html.DropDownList("estado", (SelectList)ViewBag.Estados, new { @class = "form-control"})
        <br />
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>

<div>
    <a href="@Url.Action("Create", "Compra")" class="btn btn-success">Crear Compra</a>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <td>Proveedor</td>
            <td>Fecha</td>
            <td>Total</td>
            <td>Estado</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var compra in Model)
        {
            <tr>
                <td>@compra.Proveedor.Nombre</td>
                <td>@compra.FechaCompra.ToShortDateString()</td>
                <td>@compra.Total</td>
                <td>@(compra.Estado == 1 ? "Activa" : "Anulada")</td>
                <td>
                    <a href="@Url.Action("Detalles", "Compra", new {id = compra.Id})" class="btn btn-info">Ver Detalles</a>
                    @if (compra.Estado == 1)//Solo mostrar el boton si la compra esta activa
                    {
                        <a href="@Url.Action("Anular", "Compra", new {id = compra.Id})" class="btn btn-danger">Anular</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>