@model List<Venta>

<form method="get" class="form-inline">
    <div class="form-group">
        <label for="estados">Estado:</label>
        @Html.DropDownList("estado", (SelectList)ViewBag.Estado, new { @class = "form-control" })
        <br />
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>

<div>
    <a href="@Url.Action("Create", "Venta")" class="btn btn-success">Crear Venta</a>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <td>Cliente</td>
            <td>Fecha</td>
            <td>Total</td>
            <td>Estado</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var venta in Model)
        {
                <tr>
                    <td>@venta.Cliente.Nombre</td>
                    <td>@venta.FechaVenta.ToShortDateString()</td>
                    <td>@venta.Total</td>
                    <td>@(venta.Estado == 1 ? "Activa" : "Anulada")</td>
                    <td>
                        <a href="@Url.Action("Detalles", "Venta", new {id = venta.Id})" class="btn btn-info">Ver Detalles</a>
                        @if (venta.Estado == 1) //Solo mostrar el boton si la compra esta activa
                    {
                        <a href="@Url.Action("Anular", "Venta", new {id = venta.Id})" class="btn btn-danger">Anular</a>
                    }
                    </td>
                </tr>
          }
    </tbody>
</table>
