@model List<Producto>
<h1>Lista de Productos</h1>
<div>
    <a asp-controller="Producto" asp-action= "Create" class="btn btn-primary">Agregar Producto nuevo</a>
    <a asp-controller="Producto" asp-action="ReporteProductosExcel" class="btn btn-success">Generar Excel</a>
    <br />
    <br />
    <div class="card">
        <form asp-action="SubirExcelProductos" asp-controller="Producto" method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label for="archivo">Subir Excel</label>
                <input type="file" name="archivo" required />
            </div>
            <button type="submit" class="btn btn-primary">Subir y guardar</button>
        </form>
    </div>
    <br />
    <br />
    @if (Model != null)

    {
        <table class=" table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Precio</td>
                    <td>Cantidad disponible</td>
                    <td>Fecha de creación</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var producto in Model)
                {
                    <tr>

                        <th>@producto.Nombre</th>
                        <th>@producto.Precio</th>
                        <th>@producto.CantidadDisponible</th>
                        <th>@producto.FechaCreación</th>
                    <th>
                        <a class="btn btn-primary" asp-asp-controller="Producto" asp-action="Edit" asp-route-id="@producto.Id">Editar</a> |
                        <a class="btn btn-danger" asp-asp-controller="Producto" asp-action="Delete" asp-route-id="@producto.Id">Eliminar</a>
                    </th>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
